.form {
    padding: 20px;
    border: 2px solid purple;
    border-radius: 20px;
    max-width: 900px;
    font: inherit;
}

.field {
    color: gray;
    margin: 5px 20px;
    border-radius: 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 20px;
    background-color: teal;
    color: pink;
}
.errorArea {
    display: flex;
    border: 1px solid rgba(255, 99, 71, 0.295);
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 99, 71, 0.651);
    color: black;
}
