.form {
    padding: 20px;
    border: 2px solid purple;
    border-radius: 20px;
}

.field {
    color: gray;
    margin: 5px 20px;
    border-radius: 10px;
    gap: 30px;
}

.btn {
    border-radius: 20px;
    background-color: teal;
    color: pink;
}
.errorArea {
    border: 1px solid tomato;
    padding: 5px;
    border-radius: 10px;
    background-color: tomato;
    color: black;
}
